<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
        }

        .container {
            background: #fff;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
        }

        .logo {
            max-width: 250px;
        }

        h1 {
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        .text-input {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 0.5rem;
            font-weight: bold;
        }

        input {
            margin-bottom: 1rem;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .error {
            color: red;
            margin-bottom: 1rem;
            display: none;
        }

        button {
            padding: 0.75rem;
            border: none;
            border-radius: 4px;
            background-color: #4338CA;
            color: #fff;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
        }

        button:hover {
            background-color: #3730a3;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="/assets/NextAdminLogo.svg" alt="Next Admin Logo" class="logo">
        <h1>Reset Your Password</h1>
        <form id="resetPasswordForm" action="https://next-form-app-auth-backend-fb01c8c171e9.herokuapp.com/auth/reset-password/<%= token %>" method="POST">
            <div class="text-input">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password here" required>
                <div class="error" id="password-error"></div>
            </div>
            <div class="text-input">
                <label for="confirm-password">Confirm New Password:</label>
                <input type="password" id="confirm-password" name="confirmPassword"
                    placeholder="Re-enter your password here" required>
                <div class="error" id="confirm-password-error"></div>
            </div>
            <button type="submit">Reset Password</button>
        </form>
    </div>

    <script>
        document.getElementById('resetPasswordForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent form submission

            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm-password').value;
            const passwordError = document.getElementById('password-error');
            const confirmPasswordError = document.getElementById('confirm-password-error');

            let formIsValid = true;
            let errors = {};

            // Password validations
            if (!password) {
                errors.password = "Password is required";
                formIsValid = false;
            } else if (password.length < 8) {
                errors.password = "Password must be at least 8 characters";
                formIsValid = false;
            } else if (!/\d/.test(password) || !/[!@#$%^&*(),.?":{}|<>]/.test(password)) {
                errors.password = "Password must include at least one number and one symbol";
                formIsValid = false;
            }

            // Confirm password validations
            if (!confirmPassword) {
                errors.confirmPassword = "Confirm Password is required";
                formIsValid = false;
            } else if (password !== confirmPassword) {
                errors.confirmPassword = "Passwords do not match";
                formIsValid = false;
            }

            if (formIsValid) {
                passwordError.style.display = 'none';
                confirmPasswordError.style.display = 'none';
                // Submit the form if validation passes
                this.submit();
            } else {
                if (errors.password) {
                    passwordError.textContent = errors.password;
                    passwordError.style.display = 'block';
                } else {
                    passwordError.style.display = 'none';
                }
                if (errors.confirmPassword) {
                    confirmPasswordError.textContent = errors.confirmPassword;
                    confirmPasswordError.style.display = 'block';
                } else {
                    confirmPasswordError.style.display = 'none';
                }
            }
        });
    </script>
</body>

</html>